<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Box4</title>
</head>
<body>
    <div class="main flex bg-[#FFF5E9] h-[58rem]">


        <div class="left flex flex-col text-white rounded-r-xl space-y-16 w-56 text-2xl pl-8 bg-[#825602]   font-semibold">
            <img class="h-20 w-20 mt-14" src="assets/legal-icon-gold.png" alt="">
            <span><a href="">Home</a></span>
            <span><a href="">Supreme Court</a></span>
            <span><a href="">High Court</a></span>
            <span><a href="">District Court</a></span>
            <span><a href="">How it works?</a></span>
            <span><a href="">Register</a></span>
            <span><a href="">Sign In</a></span>
            <span></span>

        </div>


        <div class="flex flex-col">

        <div class="right flex">

            <div class="searchbar flex bg-white justify-center items-center ml-[32rem] border-2 border-[#825602] rounded-l-2xl mt-14 w-[30rem] h-12"><input type="text"></div>
            <div class="searchicon flex justify-center items-center bg-[#825602]  border-2 border-[#825602] mt-14 rounded-r-2xl w-20 h-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M9.5 19C4.26341 19 0 14.7366 0 9.5C0 4.26341 4.26341 0 9.5 0C14.7366 0 19 4.26341 19 9.5C19 14.7366 14.7366 19 9.5 19ZM9.5 1.39024C5.02342 1.39024 1.39024 5.03268 1.39024 9.5C1.39024 13.9673 5.02342 17.6098 9.5 17.6098C13.9766 17.6098 17.6098 13.9673 17.6098 9.5C17.6098 5.03268 13.9766 1.39024 9.5 1.39024Z" fill="white"/>
                    <path d="M20.0897 21.2061C19.8069 21.2061 19.5241 21.1019 19.3008 20.8786L16.3238 17.9016C15.8921 17.4699 15.8921 16.7554 16.3238 16.3238C16.7554 15.8921 17.4699 15.8921 17.9016 16.3238L20.8786 19.3008C21.3103 19.7325 21.3103 20.4469 20.8786 20.8786C20.6553 21.1019 20.3725 21.2061 20.0897 21.2061Z" fill="white"/>
                    </svg>
            </div>

            <div class="lang flex text-[#825602] text-xl font-bold ml-96 mt-16">EN
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M21.365 0.7742H11.4449H2.51194C0.983312 0.7742 0.219 4.21624 1.30178 6.23401L9.55002 21.6045C10.8716 24.0673 13.0213 24.0673 14.3429 21.6045L17.4798 15.759L22.5911 6.23401C23.6579 4.21624 22.8936 0.7742 21.365 0.7742Z" fill="#825602"/>
                    </svg>
            </div>
            
        </div>

             <div class="container flex justify-center space-x-36 items-center mt-28 rounded-xl ">

                <div></div>
                
                
                <div class="flex-col space-y-36">
                    <div class="3 border-2 border-black h-60 w-60 rounded-lg"></div>
                <div class="3 border-2 border-black h-60 w-60 rounded-lg"></div>
                </div>

                <div class="flex-col space-y-36">
                    <div class="3 border-2 border-black h-60 w-60 rounded-lg"></div>
                <div class="3 border-2 border-black h-60 w-60 rounded-lg"></div>
                </div>



             </div>


         </div>



    </div>
</body>
</html>