<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaseList</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex ml-10 mt-8">
      <div class="flex mt-2 w-8 h-8">
        <svg
          class="flex w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          width="9"
          height="18"
          viewBox="0 0 9 18"
          fill="none"
        >
          <path
            d="M8.00011 17.67C7.81011 17.67 7.62011 17.6 7.47011 17.45L0.950113 10.93C0.440819 10.4168 0.155029 9.72306 0.155029 9.00002C0.155029 8.27698 0.440819 7.58325 0.950113 7.07002L7.47011 0.55002C7.76011 0.26002 8.24011 0.26002 8.53011 0.55002C8.82011 0.84002 8.82011 1.32002 8.53011 1.61002L2.01011 8.13002C1.53011 8.61002 1.53011 9.39002 2.01011 9.87002L8.53011 16.39C8.82011 16.68 8.82011 17.16 8.53011 17.45C8.38011 17.59 8.19011 17.67 8.00011 17.67Z"
            fill="black"
          />
        </svg>
      </div>
      <div class="flex text-3xl font-semibold">
        <a href="/View/home.html">Back</a>
      </div>
    </div>
    <div class="mx-auto h-[57rem] w-[60rem]">
      <div class="flex items-center relative mx-auto justify-center">
        <a href="#">
          <button
            class="text-[#825602] px-8 py-6 m-6 relative rounded-2xl bg-white text-2xl border-2 border-solid border-[#825602]"
          >
            Case Number
          </button>
        </a>

        <a href="/View/CaseFIR.html">
          <button
            class="bg-[#825602] px-8 py-6 m-6 relative rounded-2xl text-white text-2xl"
          >
            FIR Number
          </button>
        </a>
      </div>
      <div class="container">
        <form
          action=""
          class="relative justify-center flex border-3 border-sky-500 flex-col items-center"
        >
          <div class="flex">
            <input type="radio" name="fav_language" value="Court Complex" />
            <label for="html">Court Complex</label><br />

            <input
              type="radio"
              id="css"
              name="fav_language"
              value="Court Establishemnt"
            />
            <label for="css">Court Establishemnt</label><br />
          </div>
          <div>
            Court Complex
            <select id="" required>
              <option value="">Manali</option>
              <option value="">Kullu</option>
              <option value="">Bunjar</option>
            </select>
            <div>
              Case Type
              <select id="">
                <option value="">Civil</option>
                <option value="">Family</option>
                <option value="">Criminal</option>
              </select>
            </div>
            <div>
              Case Number
              <input type="text" required />
            </div>
            <div>
              Year
              <input type="text" required />
            </div>
          </div>

          <button
            type="reset"
            class="bg-[#825602] px-8 py-6 m-6 relative rounded-2xl text-white text-2xl"
          >
            <a href="#">Reset</a>
          </button>
          <button
            type="submit"
            class="bg-[#825602] px-8 py-6 m-6 relative rounded-2xl text-white text-2xl"
          >
            <a href="#">Search</a>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
