<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex ml-16 ">
    <div class="flex mt-2 w-8 h-8">
      <svg
        class="flex w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        width="9"
        height="18"
        viewBox="0 0 9 18"
        fill="none"
      >
        <path
          d="M8.00011 17.67C7.81011 17.67 7.62011 17.6 7.47011 17.45L0.950113 10.93C0.440819 10.4168 0.155029 9.72306 0.155029 9.00002C0.155029 8.27698 0.440819 7.58325 0.950113 7.07002L7.47011 0.55002C7.76011 0.26002 8.24011 0.26002 8.53011 0.55002C8.82011 0.84002 8.82011 1.32002 8.53011 1.61002L2.01011 8.13002C1.53011 8.61002 1.53011 9.39002 2.01011 9.87002L8.53011 16.39C8.82011 16.68 8.82011 17.16 8.53011 17.45C8.38011 17.59 8.19011 17.67 8.00011 17.67Z"
          fill="black"
        />
      </svg>
    </div>
    <div class="flex text-3xl font-semibold">
      <a href="Home.html">Home</a>
    </div>
  </div>

  </div>
  <div class="flex justify-center relative items-center space-x-16 h-[50rem]">
    <div class="h-[24rem] justify-center w-[24rem] border-black mr-16 border-4">
      <div class="flex justify-center">
        <img src="/Assets/judge-man.webp" alt="" class="mt-5 w-[21rem] h-[21rem]" />
      </div>
      <a href="/View/Register.html"> <button type="submit"
          class="bg-[#825602] px-8 py-6 top-[12rem] left-[6.4rem] relative rounded-2xl text-white text-2xl">
          Continue
        </button>
      </a>
    </div>
    <div class="h-[24rem] w-[24rem] border-black border-4">
      <div class="justify-center flex">
        <img src="/Assets/Administrator-PNG-Free-Download.png" alt="" class="mt-5 w-80 h-80" />
      </div>
    </div>

  </div>
  <div class="space-x-24 flex relative bottom-40">
    <span class="font-semibold text-5xl left-[39.3rem] relative">Judge</span>
    <span class="font-semibold text-5xl left-[54rem] relative">Court Staff</span>
  </div>
  <a href="/View/Register.html"><button type="submit"
      class="bg-[#825602] px-8 py-6 left-[70rem] bottom-[5.5rem] relative rounded-2xl text-white text-2xl">
      Continue
    </button>
  </a>
</body>

</html>